body{
    background-color: white; 
}

#top{
    border: solid red 12px;
    min-height: 300px;
    font-size: 70px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

h1{
background-color: aqua;
color: black;
border: solid black 10px;
text-align: center;
padding-left: 90px;
padding-right: 90px;
}




#boxar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border:solid orange 12px;
    padding-top: 5%;
    padding-bottom: 5%;
    
}

#vänster{
   border: solid black 12px;
   background-color: yellow;
   color: black;
   font-size: 110px;
   text-align: center;
   width: 50%;
   padding: 2%;
   margin-right: 0.2%;
}

#höger{
    border: solid black 12px;
    background-color: lightpink;
    color: black;
    font-size: 110px;
    text-align: center;
    width: 50%;
    padding: 2%;
    margin-left: 0.2%;

}

.nere{
    border: solid yellow 12px;
    font-size: 90px;
    min-width: 49%;
}

